<ion-view hide-back-button="true" hide-nav-bar="true">
    <ion-content class="padding">

        <div class="back">
            <div class="button swiper-button-prev button-negative" ui-sref="start.accueil"></div>
        </div>
        <div class="inscrip" align="center">
            <h1>Inscription</h1>
        </div>
        <br>

        <form name="registerForm" novalidate ng-submit="registerForm.$valid && register(user)">
            <!--<div class="list">
                <label class="item item-input" style="border-radius:5px; margin-bottom: 10px;">
                    <span class="input-label">Nom</span>
                    <input name="nom" type="text" ng-model="user.nom" placeholder="Nom" ng-minlength="5" ng-maxlength="30" required>
                </label>
                <label class="item item-input" style="border-radius:5px; margin-bottom: 10px;">
                    <span class="input-label">Prénom</span>
                    <input name="prenom" type="text" ng-model="user.prenom" placeholder="Prenom" ng-minlength="5" ng-maxlength="30" required>
                </label>-->
                <label class="item item-input" style="border-radius:5px; margin-bottom: 10px;">
                    <span class="input-label">Email</span>
                    <input name="email" type="email" ng-model="user.email" placeholder="Email" ng-minlength="5" ng-maxlength="30" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">Mot de passe</span>
                    <input name="password" type="password" ng-model="user.password" placeholder="Password" ng-minlength="5" ng-maxlength="30" required>
                </label>
                <input type="submit" value="Valider" class="button button-block button-positive" ng-disabled="registerForm.$invalid" />
            </div>
        </form>
        <!--<button onclick="location.href='#/login';" class="button button-assertive button-block button-no-margin-top">Back to Login</button>-->
    </ion-content>
</ion-view>
